body {
  background-color: #efefef;
  color: #333;
}
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 10px 20px;
}

.text {
  font-size: 20px;
  margin-bottom: 8px;
}

#chartContainer {
  width: 100%;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  h1 {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #efefef;
  }
}